
/* Imports the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /* Extra */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


html {
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    border: solid 1px var(--color-02); /* teste */
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1.0rem;
    transition: 0.4s;

    border: solid 1px var(--color-02);
}

.nav a:hover {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;

    border: solid 1px var(--color-02);
}

span {
    color: var(--main-color);
}

.home, .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img {
    border-right: solid 0.5rem var(--main-color);
    border-bottom: solid 0.5rem var(--main-color);
    border-image: linear-gradient(135deg , transparent 65%, var(--main-color)) 1;
    width: 45%;
    height: auto;
}

.about-img {
    border-left: solid 0.5rem var(--main-color);
    border-bottom: solid 0.5rem var(--main-color);
    border-image: linear-gradient(225deg , transparent 65%, var(--main-color)) 1;
    width: 35%;
    height: auto;
}

.home-img img, .about-img img {
    width: 100%;
}

.about {
    background-color: var(--bg-color-02);
}

.home-content, .about-content {
    width: 45%;
}

.home-content h1, .about-content h1 {
    font-weight: 700;
    line-height: 1.3;

    font-size: 2.7rem;
}

.home-content h3, .about-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.home-content p, .about-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

.services h2,
.portfolio h2,
.contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

.services-container .services-box{
    padding: 2rem 1rem 2.5rem;
    margin: 0.05rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.01);
}

.services-box i {
    font-size: 4.3rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 1.5rem;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    /* N lines ... */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;   
}